<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="//static/favicon.ico">
        <script src="https://cdn.tailwindcss.com"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Team 7</title>
    </head>
    <body>
    <div class="font-bold text-center py-8 ">
        <p class="text-4xl">Leaderboard</p>
        <p class="text-2xl">Top 5</p>
    </div>
    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full text-left text-sm font-light m-auto">
                {% set counter = 1 %}
                {% for key, value in top_5.items() %}
                    <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap px-6 py-4 font-medium">{{ counter }}</td>
                      <td class="whitespace-nowrap px-6 py-4">{{ key }}</td>
                      <td class="whitespace-nowrap px-6 py-4">{{ value }}</td>
                    </tr>
                    {% set counter = counter + 1%}
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </body>
    