<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
 <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
  </head>
<body>

    <div id="medium_blog_container">
    <!-- Here we will mount our component -->
    </div>


    <h1>Welcome, user</h1>

    </p>

    <div class="show-data" >
    </div>

    <img src="/static/userIcon.png" alt="Avatar" class="px-4 my-4 py-3">

    <div class="max-w-sm rounded overflow-hidden shadow-lg px-4 my-4 py-3">
        <form method="post" action="/Tests/Post/">
            <fieldset>
                <legend>Bikes</legend>
                <input type="checkbox" name="favorite_pet" value="5 km">5km<br>
                <input type="checkbox" name="favorite_pet" value="3 km">3km<br>
                <input type="checkbox" name="favorite_pet" value="2 km">3km<br>
                <br>
            </fieldset>
        </form>
        </p>
    </div>

    <div class="max-w-sm rounded overflow-hidden shadow-lg px-4 my-4 py-3">
        <form method="post" action="/Tests/Post/">
            <fieldset>
                <legend>Buses</legend>
                <input type="checkbox" name="favorite_pet" value="5 km">5km<br>
                <input type="checkbox" name="favorite_pet" value="3 km">3km<br>
                <input type="checkbox" name="favorite_pet" value="2 km">3km<br>
                <br>
            </fieldset>
        </form>
        </p>
    </div>

    <div class="max-w-sm rounded overflow-hidden shadow-lg px-4 my-4 py-3">
        <form method="post" action="/Tests/Post/">
            <fieldset>
                <legend>Trams</legend>
                <input type="checkbox" name="favorite_pet" value="5 km">5km<br>
                <input type="checkbox" name="favorite_pet" value="3 km">3km<br>
                <input type="checkbox" name="favorite_pet" value="2 km">3km<br>
                <br>
            </fieldset>
        </form>
        </p>
    </div>


</body>
</html>